<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>auth</title>
</head>
<body>
<a href='https://mp.weixin.qq.com/cgi-bin/componentloginpage?auth_type=6&component_appid=wxeaa5fc252006fdfc&pre_auth_code=preauthcode@@@JWtwZJVriEKfj8xJJaT8tp3daPdwDcXjiWkW9lKBnLqTQUvD2tJowUKR1LGpiQImgK4IRf5pjYsANOG5zMPN6w&redirect_uri=https://michael.debug.artisancloud.cn/wx/api/openplatform/callback'>授权微信小程序</a>
<a href='https://mp.weixin.qq.com/cgi-bin/componentloginpage?auth_type=6&component_appid=wxeaa5fc252006fdfc&pre_auth_code=preauthcode@@@A8wIYn2KSjKnYMz33efqt2-F-gkGPH-v736fIgwJkk7ou-6lz5R4G4EFCQzVjKba1TmTN35f91RTKfV2E7WFwg&redirect_uri=https://michael.debug.artisancloud.cn/wx/api/openplatform/callback'>授权微信公众号</a>

</body>
</html>